// refuse nesting,	'jump out'
.parent-1 {
	// nesting
	color:#f00;
	.child {
		width:100px;
	}
}

.parent-2 {
	// 'jump out'
	color:#f00;
	@at-root .child{
		width: 200px;
	}
}

.parent-3 {
	background:#f00;
	@at-root {
		.child1{
			width:300px;
		}
		.child2{
			width: 400px;
		}
	}
}

@media print1 {
	.parent1{
		color:#f00;
		// jump out father
		@at-root .child1 {
			width:200px;
		}
	}
}
@media print2 {
	.parent2{
		color:#f00;
		// jump out media but father still here
		@at-root (without:media) {
			.child2 {
				width: 200px;
			}
		}
	}
}
@media print3 {
	.parent3{
		color:#f00;
		// jump out all
		@at-root (without:all) {
			.child3 {
				width:200px;
			}
		}
	}
}
