/*
*	@each $var in <list or map> , likes js foreach() ?
*	it seems to be  @each index in Aarray
*/

// list data
$animal-list: puma, sea-slug, egret, salamander;
@each $animal in $animal-list {
	.#{$animal}-icon {
		background-image: url(images/#{$animal}.png);
	}
}
$animal-list_data: (puma, black, default), (sea-slug, blue, pointer), (egret, white, move); 
@each $animal, $color, $cursor in $animal-list_data {
	.#{$animal}-icon {
		background-image: url(images/#{$animal}.png);
		border: 2px solid $color;
		cursor: $cursor;
	}
}

// map data
$headings: (h1: 2em, h2: 1.5em, h3: 1.2em);
@each $header, $size in $headings {
	#{$header} {
		font-size: $size;
	}
}