// just is @if @else if @else

$lte7: true;
$type: monster;

.ib{
	display: inline-block;
	@if $lte7 {
		*display: inline;
		*zoom: 1;
	}
}
p {
	@if $type == ocean {
		color: blue;
	} @else if $type == matador {
		color: red;
	} @else if $type == monster {
		color: green;
	} @else {
		color: black;
	}
}

// another way
span {
	// first param is condition, second is true end, third is false end 
	width: if(true, 1px, 2px);
	height: if(false, 3px, 5px);
}






