$baseFontSize: 10px !default;
$gray: #ccc!default;

// DIY @function , and u must @return something , else error
@function pxToRem($px) {
	@return $px / $baseFontSize * 1rem;
}
p{
	font-size: pxToRem(20px);
}
body {
	font-size: $baseFontSize;
	// this is sass their function
	// first parame is color,second is percent
	color:lighten($gray,10%);
}
.test {
	font-size:pxToRem(16px);
	color:darken($gray,10%);
}