/*global var*/
$fontSize: 12px;
$color: #333;
body {
	/*local var*/
	$fontSize:14px;
	$color: #fff;
	font-size: $fontSize;
	color:$color;
	/*now it will be turn to global var*/ 
	$color:red;
	$fontSize:30px !global;
}
p{
	font-size:$fontSize;
	color: $color;
}