// @extend let one selector inherit another selector
h1{
	border: 5px solid #ccc;
}
.speaker {
	@extend h1;
	border-width: 1px;
}

// % can appoint selector to inherit , replace inherit all style 
// % is important, because it is not analysis until u invoke it !
%ir {
	color: transparent;
	text-shadow:none;
	background-color: transparent;
	border:0;
}
$lte7:true;
%clearfix{
	@if $lte7 {
		*zoom:1;
	}
	&:before,
	&:after{
		content: "";
		display: table;
		font: 0/0 a;
	}
	&:after {
		clear: both;
	}
}
/*  @extend %selector inherit their want */
#header {
	@extend %ir;
	/*@extend %clearfix;*/
	width: 300px;
}
.ir {
	@extend %ir;
}





