// list data,it likes Array, it's format seems to $list:[1],[2]
// how we use it? nth($array,index), the index begin from 1
$linkColor: blue red !default;
a{
	color: nth($linkColor,1);

	&:hover{
		color: nth($linkColor,2);
	}
}

// that is a list too
$style:(1px #ddd solid) (5px #000 dotted);
.div1 {
	border: nth($style,1);
}
.div2 {
	border: nth($style,2);
}