// mixin likes C language, create a package.
// through @include to invoke @min's package and copy.
@mixin nav-box {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: red;
}

.demo {
	@include nav-box;
}


// @mixin has parameter and assgin default value
@mixin opacity($opacity:50) {
	opacity: $opacity/100;
	filter: alpha(opacity=$opacity);
}
.opacity {
	// default value
	@include opacity;
}
.opacity-80 {
	// by value
	@include opacity(80);
}


// more parameter
@mixin horzontal-line($border:1px dashed #ccc, $padding:10px) {
	border-bottom:$border;
	padding-top:$padding;
	padding-bottom:$padding;
}
// @include by value one by one, if @mixin has not enough defaul value will  error
.imgtext-h li {
	@include horzontal-line(1px solid #000,20px);
}
.imgtext-h--product li {
	@include horzontal-line($padding:15px);
}


// ... it mean if u not sure how many value, u can use it  by many value
@mixin box-shadow($shadow...) {
	-webkit-box-shadow:$shadow;
	box-shadow:$shadow;
}
.box{
	border:1px solid #ccc;
	@include box-shadow(0 2px 2px rgba(0,0,0,.3),0 3px 3px rgba(0,0,0,.3),0 4px 4px rgba(0,0,0,.3));
}


// @content solve sass about @meida problem,and it means u can write some style in the @media
@mixin max-screen($res) {
	@media only screen and (max-width: $res) {
		@content;
	}
}
@include max-screen(480px) {
	body{color:red;}
}