// Nesting include selector and property
.top_nav {
	line-height: 10px;
	text-transform: capitalize;
	li{
		float:left;
	}
	a{
		display:block;
		color:#000;

		// & means father selector
		&:hover {
			color:#ddd;
		}
	}
}

.fakeshadow {
	border: {
		style: solid;
		left: {
			width:5px;
			color:#888;
		}
		right: {
			width:1px;
			color:#ccc;
		}
	}
}