// BEM
.father {
	&-son1 {
		color: #000;
	}

	&-son2 {
		background-color: aqua;
	}

	// @extend
	&-extendelement {
		@extend .father-son2;
		color: #fdfdfd;
	}

	color: #fff;
}

// @mixin
$color: green;

@mixin button($color: #fff) {  
    color: $color;  
    @content;  
    border: 1px solid $color;  
}

.button-green {  
    @include button {background: $color;}  
}

@mixin font-fl($font){
    &:after {
    	// @if
        @if (type-of($font) == string) {
            content: 'My font is: #{$font}.';
        } 
        @else {
            content: 'Sorry, the argument #{$font} is a #{type-of($font)}.';
        }
    }
}

.test {
	@include font-fl(true);
}