//if we want to be use as property or other ways,it need to #{$variable}
$name: crumb!default;
$top: top!default;
$color: color!default;
$red: red!default;

.border-#{$name} {
	border-#{$top}-#{$color}:$red;
}

// they can be calculated
$baseFontSize: 12px!default;
$baseLineHeight: 1.5!default;

body {
	font:#{$baseFontSize}/#{$baseLineHeight};
}