<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue 条件判断</title>
	<script src="../2.1.8/vue.min.js"></script>
</head>
<body>
	<div id='app'>
		<!-- v-if判断 -->
		<p v-if="seen">let me see see </p>
		<template v-if="ok">
			<p>hard for everybody</p>
			<p>I want to drink</p>
		</template>
		<!-- v-else -->
		<div v-if="Math.random() > 0.5">
			随机数大于0.5
		</div>
		<div v-else>
			小小小小小小小小于0.5
		</div>
		<!-- v-else-if -->
		<div v-if="type === 'A'">
			A
		</div>
		<div v-else-if="type === 'B'">
			B
		</div>
		<div v-else-if="type === 'C'">
			C
		</div>
		<div v-else>
			Not at all
		</div>
		<!-- v-show 也可以根据条件展开元素 -->
		<div v-show="ok">v-show</div>
	</div>
</body>
<script>
	new Vue ({
		el : '#app',
		data : {
			seen: true,
			ok: true,
			type: "D"
		}
	});
</script>
</html>