<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>双向绑定</title>
	<style type="text/css">

	</style>
	<script src="../2.1.8/vue.min.js"></script>
</head>
<body>
	<div id='app' >
		<p>input 元素：</p>
		<input v-model='message' placeholder="双向绑定数据">
		<p>消息是：{{ message }}</p>

		<p>textarea元素：</p>
		<p style='white-space: pre'>{{ text }}</p>
		<textarea v-model='text' placeholder="多行文本..."></textarea>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				message: 'Old2sun',
				text: '老2仔 http://old2sun.com'
			}
		})
	</script>
</body>
</html>