<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>复选框. 双向绑定</title>
	<style type="text/css">

	</style>
	<script src="../2.1.8/vue.min.js"></script>
</head>
<body>
	<div id='app' >
		<!-- 复选框 -->
		<p>单个复选框：</p>
		<input type="checkbox" id='checkbox' v-model='checked'>
		<label for='checkbox'>{{ checked }}</label>

		<p>多个复选框：</p>
		<input type="checkbox" id='runoob' value="Runoob" v-model='checkedNames'>
		<label for='runoob'>Runoob</label>
		<input type="checkbox" id='google' value="google" v-model='checkedNames'>
		<label for="google">Google</label>
		<input type="checkbox" id='taobao' value="Taobao" v-model='checkedNames'>
		<label for="taobao">Taobao</label>
		<br>
		<span>选择值为： {{ checkedNames }}</span>


		<!-- 单选按钮 -->
		<br>
		<input type="radio" id='baidu' value='Baidu' v-model='picked'>
		<label for='baidu'>百度</label>
		<br>
		<input type="radio" id='souku' value='Souku' v-model='picked'>
		<label for="souku">搜狗</label>
		<br>
		<span>选中值为：{{ picked }}</span>


		<!-- select 列表 -->
		<br>
		<select v-model='selected' name='fruit'>
			<option value="">choose a site</option>
			<option value="www.runoob.com">Runoob</option>
			<option value="www.google.com">Google</option>
		</select>
		<div id='output'>
			选择的网站是： {{ selected }}
		</div>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				checked : false,
				checkedNames : [],
				picked: 'baidu',
				selected: ''
			}
		})
	</script>
</body>
</html>