<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件实例</title>
        <script src="https://cdn.bootcss.com/react/15.4.2/r
        eact.min.js"></script>
        <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
        <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>
</head>
<body>
    <div id='example'></div>
    <script type="text/babel">

        {/*可以使用 this.props 对象向组件传递参数*/}

        var HelloMessage = React.createClass({
            render: function() {

                 {/*name 属性通过 this.props.name 获取 */}

                return <h1>Hello {this.props.name} </h1>
            }
        })

        ReactDOM.render(
            
            {/* 添加属性时 class 写为 className, for 属性写为 htmlFor */}
    
            <HelloMessage name='noob' />,
            document.getElementById('example')
        )
    </script>
</body>
</html>