<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件API</title>
    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>
</head>
<body>
    <div id='message'></div>
    <script type="text/babel">
    {/* 
        设置状态 setState(object nextState[, function callback]) 
        nextState, 将要设置的新状态, 该状态会和当前的 state 合并. 
        callback, 可选参数, 回调函数。setState设置成功, 组件重新渲染后调用. 
        
        更多的API自行百度 :-D
    */}

    var Counter = React.createClass({
        getInitialState: function() {
            return {clickCount: 0};
        },
        handleClick: function() {
            this.setState(function(state) {
                return {clickCount: state.clickCount + 1};
            });
        },
        render: function () {
            return (<h2 onClick = {this.handleClick}>click me, 点击次数为：{this.state.clickCount}</h2>);
        }
    });

    ReactDOM.render (
        <Counter />,
        document.getElementById('message')
    )

    </script>
</body>
</html>