<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件生命周期</title>
    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>
</head>
<body>
    <div id='message'></div>
    <script type="text/babel">
    {/* 
        组件生命周期可分为三个状态:
        Mounting: 已插入真实 DOM
        Updating: 正在被重新渲染
        Unmounting: 已移出真实 DOM

        生命周期的方法有：
            componentWillMount  渲染前调用
            componentDidMount  在第一次渲染后调用
            componentWillReceiveProps   在组件接收到一个新的 prop 时被调用
            shouldComponentUpdate  返回一个布尔值, 在组件接收新的 props 或 state 时调用
            componentWillUpdate  在组件接收到新的 props 或者 state 但还没有 render 时调用
            componentDidUpdate  在组件完成更新后调用
            componentwillUnmount  在组件从 DOM 中移出时调用

            更多详情自行百度么么哒

    */}

        var Hello = React.createClass({
            getInitialState: function (){
                return {
                    opacity: 1.0
                };
            },

            componentDidMount: function () {
                this.timer = setInterval(function () {
                    var opacity = this.state.opacity;
                    opacity -= .05;
                    if (opacity < 0.1) {
                        opacity = 1.0;
                    }
                    this.setState({
                        opacity: opacity
                    });
                }.bind(this), 100);
            },
            render: function() {
                return (
                    <div style={{opacity:this.state.opacity}}>Hello {this.props.name}</div>
                );
            }
        });

        ReactDOM.render(
            <Hello name='world' />,
            document.body
        )

    </script>
</body>
</html>