body {
  max-width: 768px;
  margin: 0 auto;
  background: #f2f2f2; }

a {
  color: #333; }

.section {
  margin-bottom: 10px;
  overflow: hidden;
  background: white; }

.fd-slider-action {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8); }

.fd-slider-action.prev {
  border-radius: 0 25px 25px 0;
  background-image: url(images/prev.png); }

.fd-slider-action.next {
  border-radius: 25px 0 0 25px;
  background-image: url(images/next.png); }

.fd-slider-action.next:before {
  line-height: 50px;
  padding-left: 16px;
  text-align: left; }

.fd-slider-action.prev:before {
  line-height: 50px;
  padding-left: 13px;
  text-align: left; }

.fd-slider {
  margin-bottom: 15px;
  *zoom: 1; }

.fd-slider-1 dl {
  width: 60%;
  margin: 0 auto; }

.fd-slider-1 dl p {
  text-align: left; }

.fd-slider-1 dd {
  padding-top: 5px; }

.fd-slider-2 .fd-slider-num {
  left: inherit; }

.fd-slider-2 .fd-slider-title {
  padding-right: 50px;
  text-align: left; }

.fd-slider-3 .fd-slider-item a {
  display: block;
  width: 50%;
  float: left; }

.fd-slider-3 dl {
  width: auto;
  padding: 0 20px; }

.fd-slider-4 .fd-slider-item {
  padding: 0 10px;
  padding-top: 50px; }

.fd-slider-4 .fd-slider-nav {
  bottom: inherit;
  top: 0;
  counter-reset: count; }

.fd-slider-4 .fd-slider-nav a {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  overflow: visible;
  text-indent: 0;
  text-align: center;
  color: white;
  background-color: transparent; }

.fd-slider-4 .fd-slider-nav a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  content: "0" counter(count);
  counter-increment: count;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #999; }

.fd-slider-4 .fd-slider-nav a::after {
  display: none;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 1;
  content: '';
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  border-radius: 0 30px 20px;
  background: #999; }

.fd-slider-4 .fd-slider-nav a:hover,
.fd-slider-4 .fd-slider-nav a.on {
  background-color: #333; }

.fd-slider-4 .fd-slider-nav a:hover::before,
.fd-slider-4 .fd-slider-nav a:hover::after,
.fd-slider-4 .fd-slider-nav a.on::before,
.fd-slider-4 .fd-slider-nav a.on::after {
  display: block;
  background-color: #333; }

.fd-slider-4 b {
  font-size: 16px;
  color: #333; }

.fd-slider-4 p {
  text-align: left; }

.fd-slider-wrap-4 .bx-pager {
  bottom: inherit;
  top: 10px;
  width: 100%;
  text-align: center; }

.fd-slider-wrap-4 .bx-default-pager.bx-pager a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-indent: 0;
  color: white;
  background: #999; }

.fd-slider-wrap-4 .bx-default-pager.bx-pager a:hover {
  background: #666; }

.fd-slider-wrap-4 .bx-default-pager.bx-pager a.active {
  background: #333; }

@media screen and (max-width: 768px) {
  .fd-slider-3 .fd-slider-item a:first-child {
    padding-left: 40px;
    padding-right: 8px; }
  .fd-slider-3 .fd-slider-item a:last-child {
    padding-right: 40px;
    padding-left: 8px; }
  .fd-slider-3 dl {
    width: 100%; } }
