<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件 全局</title>
	<style type="text/css">

	</style>
	<script src="../2.1.8/vue.min.js"></script>
</head>
<body>
	<!-- 注册全局组件语法  Vue.component(tagName, options) , tagName 为组件名, options 为配置选项。
	注册后, 可以用这种方式调用→ <tagName></tagName> -->

	<div id='app'>
		<noob></noob>
		<localnoob></localnoob>
	</div>
	<script>
		// 注册全局组件
		Vue.component('noob', {
			template: '<h1>我是自定义全局组件</h1>'
		})

		// 局部组件
		var child = {
			template: '<h2>局部组件</h2>'
		}

		// 创建
		new Vue({
			el: '#app',
			components: {
				// <localnoob> 只在父模板可用
				'localnoob': child
			}
		});
	</script>
</body>
</html>