<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>prop </title>
	<style type="text/css">

	</style>
	<script src="../2.1.8/vue.min.js"></script>
</head>
<body>

	<div id='app'>
		<child message='hello'></child>
	</div>
	<script>
	/*
		prop 是父组件用来传递数据的一个自定义属性, 父组件的数据需要通过 props 把数据传给子组件, 子组件需要显式地用 props 选项声明 'prop'

		prop 是单向绑定到, 当父组件属性变化时, 将传导给子组件, 但是不会反过来.
	*/ 
		
		Vue.component('child', {
			// 声明 props
			props: ['message'],
			// 同样也可以在  vm 实例中像 this.message 这样使用, 什么意思 ???
			template: '<span>{{ message }}</span>'
		})

		// 创建
		new Vue({
			el: '#app',
			
		});
	</script>
</body>
</html>