<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>prop 验证</title>
	<style type="text/css">

	</style>
	<script src="../2.1.8/vue.min.js"></script>
</head>
<body>

	<div id='app'>
		
	</div>
	<script>
		// 组件可以为 props 指定验证要求, prop是一个对象而不是字符串数组时, 它包含验证要求：

		Vue.component('example', {
			props: {
				// 基础类型检测  ( null  意思为任何类型都可以)
				propA: Number,
				// 多种类型
				propB: [String, Number],
				// 必传且是字符串
				propC: {
					type: String,
					require: true
				},
				// 数字, 有默认值
				propD: {
					type: Number,
					default: 100
				},
				// 数组/对象的默认值应当由一个工厂函数返回
				propE: {
					type: Object,
					default: function () {
						return { message: 'hello' }
					}
				},
				// 自定义验证函数
				propF: {
					validator: function(value) {
						return value > 10
					}
				}
			}
		})

		// 创建
		new Vue({
			el: '#app',
			data: {
				
			}
		});
	</script>
</body>
</html>