<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>自定义组件</title>
	<style type="text/css">

	</style>
	<script src="../2.1.8/vue.min.js"></script>
</head>
<body>

	<div id='app'>
		<div id='counter-event-example'>
			<p>{{ total }}</p>
			<button-counter v-on:fnc='incrementTotal'></button-counter>
			<button-counter v-on:fnc='incrementTotal'></button-counter>
		</div>
	</div>
	<script>
		/*
			父组件使用 props 传递数据给子组件, 如果子组件要把数据传递回去, 就需要使用自定义事件。
			可以使用 v-on 绑定自定义事件, 
			$on(eventName) 监听事件
			$emit(eventName) 触发事件

			另外, 父组件可以在使用子组件的地方直接用 v-on 来监听子组件触发的事件。
		*/ 

		Vue.component('button-counter', {
			template: '<button v-on:click="increment">{{ counter }}</button>',
			data: function() {
				return {
					counter : 0
				}
			},
			methods: {
				increment: function() {
					this.counter += 1;
					this.$emit('fnc');
				}
			}
		})

		new Vue({
			el: '#counter-event-example',
			data: {
				total: 0
			},
			methods : {
				incrementTotal: function() {
					this.total += 1;
				}
			}
		})
	</script>
</body>
</html>