* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  
  background: -moz-linear-gradient(top, #222, #333);
  background: -webkit-linear-gradient(top, #222, #333);
  background: linear-gradient(top, #222, #333);
}

[class$="face"] {
  margin: 16px;
  padding: 4px;
  
  background-color: #e7e7e7;
  width: 104px;
  height: 104px;
  object-fit: contain;
  
  box-shadow:
    inset 0 5px white, 
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7, 
    inset -5px 0 #d7d7d7;
  
  border-radius: 10%;
}

.item {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;

  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

/* useage */
.first-face {
	display: -webkit-flex;
	display: flex;
  justify-content: space-between;
}
.first-face .item:nth-child(2){
  align-self: center;
}
.first-face .item:nth-child(3){
  align-self: flex-end;
}

.second-face {
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; 
  align-content: space-between;
}

.third-face {
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.third-face .column {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;

  text-align: center;
  color: #fff;
}

.fourth-face {
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.fifth-face {
	display: -webkit-flex;
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.sixth-face {
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
}
.sixth-face .row {
  display: flex;
  flex-basis: 100%;
}
.sixth-face .row:nth-child(2) {
  justify-content: center;
}
.sixth-face .row:nth-child(3) {
  justify-content: space-between;
}

.seventh-face {
	display: -webkit-flex;
	display: flex;
  flex-wrap: wrap;
}






