<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue 指令</title>
	<script src="../2.1.8/vue.min.js"></script>
	<style>
		
	</style>
</head>
<body>
	<div id='app'>
		<p v-if='seen'>u can see me now</p>
		<!-- vue 里template 标签会被除掉,加属性也一样 -->
		<template v-if='seen'>
			<h3>睇到我未</h3>
			<p>template标签</p>
			<p>指令系带有 v 前缀嘅特殊属性</p>
			<!-- false 属性也是直接除掉标签 -->
			<p v-if='look'>睇我唔到</p>
		</template>
	</div>
</body>
<script>
	new Vue ({
		el : '#app',
		data : {
			seen : true,
			look : false
		}
	});
</script>
</html>